<div class="container">


    <div class="footer">
        <p>This website was developed by Lisa Ellison, Luke Evans, and Garrett Stein-Seroussi as a way to share
            your recently seen birds with fellow bird lovers.</p>
    </div>

</div>