
<div class="container">
    <div class="text-block">
        <h4>Welcome <br />
            Birdwatcher,</h4>
        <p>See what birds <br />
            others have <br />
            spotted <br />
            by selecting <br />
            "View Birds" <br />
            in the bar <br />
            at the top.<br />
            Add your own <br />
            by selecting<br />
            "Add a Bird"!</p>
    </div>
</div>


<div class="footer">
    <p>This website was developed by Garrett Stein-Seroussi, Luke Evans and Lisa Ellison for birdwatchers to share the
        the birds they've spotted with other bird enthusiasts.</p>
</div>

</div>