<div class="container">
    <div class="text-block">
        <h4>Welcome <br />Birdwatcher,</h4>
        <p>See what birds <br />others have spotted <br />by selecting <br />"View Birds" <br /> in the bar at the top.
            <br />Add
            your own <br />by
            selecting
            <br />"Add a Bird"!</p>
    </div>
</div>
<div class="footer">
    <p>This website was developed by Lisa Ellison, Luke Evans, and Garrett Stein-Seroussi as a way to share
        your recently seen birds with fellow bird lovers.</p>
</div>

</div>