<div class="container">
    <div class="row">
        <div class="col-sm">

            {{>bird-dropdown}}

        </div>
        <div class="col-sm">
            <a href="/allBirds" id="viewAll">View All Birds</a>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBirdModal">
                Add a Bird
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" tabindex="-1" id="addBirdModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a Bird</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addBirdForm">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Species of Bird:</label>
                            <input type="text" class="form-control" id="species" placeholder="Species">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Location Spotted:</label>
                            <input type="text" class="form-control" id="location" placeholder="Raleigh, NC">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Activity:</label>
                            <input type="text" class="form-control" id="activity"
                                placeholder="Flying, on a branch, etc.">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Time Spotted:</label>
                            <select id="timeSpotted" id="inputState" class="form-control">
                                <option selected>Dawn</option>
                                <option>Morning</option>
                                <option>Afternoon</option>
                                <option>Dusk</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveBird">Save Bird</button>
                </div> --}}
            </div>
        </div>
    </div>
    {{!-- <div>
        <h2>Recently Spotted:</h2>
        <row>
            {{>recently-spotted}}
        </row>
    </div> --}}

    <h2>About Us:</h2>
    <p>This website was developed by Lisa Ellison, Luke Evans, and Garrett Stein-Seroussi as a way to share
        your recently seen birds with fellow bird lovers.</p>
</div>