.footer {
   position: fixed;
   left: 0;
   bottom: -16px;
   width: 100%;
   background-color: #DAAD86;
   color: black;
   text-align: center;
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: #659DBD;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

/* background image */
/* body { 
    background-image: url("https://www.pickpik.com/kingfisher-bird-wildlife-nature-animal-beak-38004"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.imgboi {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  } */
  